{{define "404"}}
<!DOCTYPE html>
<html>
<head>
    <title>Offer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found
                </h2>                
                <p>
                    <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Home</a>                    
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
{{end}}